:host {
  font-size: 64px;
  background-color: yellowgreen;
}

h1 {
  font-size: xxx-large;
  margin: 0;
  padding: 0;
  color: red;
}

co-component-base {
  font-size: 16px;
}

.alternate-class {
  background-color: mediumpurple;
  border: 5px solid rebeccapurple;
  padding: 5px;
}
